

body{
    margin: 0;
    padding:0;
    
    
} /*Background of the whole page*/
nav{
    width:100%;
    background:black;
    height: 100px;
    overflow:auto;
    position: fixed;
    top:0
    
} /*Background of the menu bar*/
ul{
    padding:25px;
    margin:0 0 0 350px;
    list-style:none;
    
} /*Menu bar*/
li{
    float:left;
    
}
.logo {
    z-index: 2;
    margin-top:5px;
    margin-left:100px;
    position: fixed;
} /*Logo on the menu bar*/
nav a{
    width:100px;
    display:block;
    padding:20px 15px;
    text-decoration: none;
    font-family: 'Inika', serif;
    color:#ffffff;
    text-align:center;
    
}
nav a:hover {
    background:white;
    color: black;
    transition: 0.5s;
    text-transform: uppercase;
    
}/*Interact when hovered*/

  
  @media (max-width: 576px){
    nav{
        width:100%;
        overflow: none;
        height: 130px;
        font-size: 20px;
        
       
        
    } 
    ul{
        padding:20px;
        margin:0 0 0 150px;
        list-style:none;
        
    } /*Menu bar*/
    li{
        float:left;
        
    }
    .logo {
        z-index: 2;
        margin-top:5px;
        margin-left:100px;
        position: fixed;
    } /*Logo on the menu bar*/
    nav a{
        width:100px;
        display:block;
        padding:20px 15px;
        text-decoration: none;
        font-family: 'Inika', serif;
        color:#ffffff;
        text-align:center;
        
    }
    nav a:hover {
        background:white;
        color: black;
        transition: 0.5s;
        text-transform: uppercase;
        
    }/*Interact when hovered*/
    
  }