
/*.header{
    display:flex;
    flex-direction:row;
    align-items: center;
    padding: 0px 10%;
}
.heading {
    display: flex;
    justify-content: space-evenly;
    font-size:20px;
    color: black;
    font-weight: bold;
    margin-top: 45px;
    font-family: 'Inika', serif;

}
.hr{
    size: 10
    border: none;
    height: 5px;
    background-color: #333;
}
.vl {
    border-left: 2px solid black;
    height: 60px;
    margin-top: -15px;
  }
.img{
    
    vertical-align: middle;
}
.hr{
    size: 10
    border: none;
    height: 5px;
    background-color: #333;
}*/

body{
    margin: 0;
    padding:0;
    background:rgb(255, 255, 255);
    
} /*Background of the whole page*/
nav{
    width:100%;
    background:black;
    height: 100px;
    overflow:auto;
    position: fixed;
    top:0
    
} /*Background of the menu bar*/
ul{
    padding:25px;
    margin:0 0 0 350px;
    list-style:none;
    
} /*Menu bar*/
li{
    float:left;
    
}
.logo {
    z-index: 2;
    margin-top:25px;
    margin-left:100px;
    position: fixed;
} /*Logo on the menu bar*/
nav a{
    width:100px;
    display:block;
    padding:20px 15px;
    text-decoration: none;
    font-family: 'Inika', serif;
    color:#ffffff;
    text-align:center;
    
}
nav a:hover {
    background:white;
    color: black;
    transition: 0.5s;
    text-transform: uppercase;
    
}/*Interact when hovered*/

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }/* For footer */
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
  }/* For footer */