@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@display=swap');
*{
    box-sizing: border-box;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
  }  
  .product{
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius:20px;
  }
  body{
    width:100%;
    padding: 120px;
    
  }
  .container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap:80px;
    
    justify-content: center;
    
  }
.product img{
    width: 250px;
    height:250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.productDesc{
    text-align:center;
    padding: 20px 0px;
    
}

.productDesc button{
  background-color: #353432;
  color:white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.productDesc h3{
    font-size: 24px;
    padding:10px 0px;
}
.productDesc p{
    font-size:18px;
}
h1{
    font-size: 80px;
    font-family: 'Ma Shan Zheng', cursive;
    text-decoration:underline ;
    display:flex;
    justify-content: center;
  }
  .body{
    margin-top: 0px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
  
  }
 

  .icon-cart{
    display: flex;
    margin-right: 50px;
    margin-top:150px;
    top: 50%;
    justify-content: flex-end;
    position: relative;
    
}


svg{
  width: 50px;
}


  