h1{
    font-size: 80px;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    text-decoration:underline overline;
    display:flex;
    justify-content: center;
    color: white;
    margin-top: 150px;
    margin-left: 35px;
  }
  .body{
    margin-top: 100px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    color: white;
    
    
  }
  body {
    background-image: url('image/abbeyroadBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  h2{
    font-size:50px;
    font-family: 'Nova Square', sans-serif;
  }
  h3{
    margin-top:20px;
    font-size:30px;
    font-family: 'Fjalla One', sans-serif;
  }
  p{
    font-size:20px;
    font-family: 'Bebas Neue', sans-serif;
    
    
  }
  section{
    padding:20px;
    display:flex;
    
    flex-wrap:wrap;
  }
  .formattext{
    flex-direction:column;
  }
  .separate{
    margin-top:25px;
  }


  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    align-items:center;
    font-size: 20px;
    height:140px;
    font-family: 'Roboto Slab', serif;
  } /*Footer */
.socialmedia{
  margin-left:500px;
  margin-right:500px;
  display:flex;
  justify-content: space-evenly;
}

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }